<ul id="introNav">
  <li><a href="#"><%= I18n.t(:intro) %></a></li>
  <li><a href="#"><%= I18n.t(:whatis) %></a></li>
  <li><a href="#"><%= I18n.t(:why) %></a></li>
  <li><a href="#"><%= I18n.t(:whatcanido) %></a></li>
  <li><a href="#"><%= I18n.t(:whathavedone) %></a></li>
  <li><a href="#"><%= I18n.t(:whoweare) %></a></li>
</ul>
